
services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - interconnect-network

  server:
    build: ./backend
    container_name: server
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    networks:
      - interconnect-network

  client:
    build: ./frontend
    container_name: client
    ports:
      - "3000:3000"
    depends_on:
      - server
    networks:
      - interconnect-network

networks:
  interconnect-network:
    driver: bridge

volumes:
  mongo-data:
