.catalogue-section {
  background: #f5f6fa;
  padding: 120px 80px;
}

.catalogue-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}

.catalogue-header h1 {
  font-size: 42px;
  font-weight: 700;
  color: #2c2c2c;
}

.catalogue-header h1 span  {
  background: linear-gradient(90deg, #5b7cfa, #b55cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.catalogue-header p {
  margin-top: 14px;
  max-width: 820px;
  color: #6b6b6b;
  font-size: 17px;
  line-height: 1.6;
}

.badge {
  background: rgb(214, 217, 240);
  color: #000000;
  font-weight: bold;
  padding: 15px 30px 15px 25px;
  border-radius: 30px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.icon{
  width:30px;
  height:35px;
  position: absolute;
  margin-left: -7px;
  margin-top: -0.5%;

}

.badge span {
  margin-left: 30px;
}

.catalogue-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
}

/* CARD */
.catalogue-card {
  background: white;
  border-radius: 18px;
  padding: 22px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 6px solid;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
  transition: 0.3s;
}

.catalogue-card:hover {
  transform: translateY(-6px);
}

.card-content h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}

.time {
  font-size: 15px;
  color: #777;
}

.catalogue-card img {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  object-fit: cover;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .catalogue-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .catalogue-header {
    flex-direction: column;
    gap: 30px;
  }

  .catalogue-info {
    align-items: flex-start;
  }

  .catalogue-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .catalogue-section {
    padding: 80px 20px;
  }

  .catalogue-grid {
    grid-template-columns: 1fr;
  }
}
