.navbar {
  width: 100%;              /* 🔥 toute la largeur */
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;

  position: fixed;          /* 🔥 navbar fixe */
  top: 0;
  left: 0;

  box-shadow: 0 2px 10px rgba(0,0,0,0.04);
  z-index: 1000;            /* 🔥 au-dessus de tout */
}

/* Logo */
.logo {
  width: 40px;
}

/* Liens centrés */
.navbar-center {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  color: #2c2c2c;
}

.navbar-center li {
  cursor: pointer;
  position: relative;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: #2c2c2c;
}
/* Responsive */
@media (max-width: 900px) {
  .navbar-center {
    display: none;
  }
}
