apiVersion: v1
kind: Service
metadata:
  name: mongo
  namespace: interconnect
spec:
  selector:
    app: mongodb
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
  type: {{ .Values.service.type }}