apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-deployment
  namespace: interconnect
spec:
  replicas: 1
  selector:
    matchLabels:
      app: interconnect-server
  template:
    metadata:
      labels:
        app: interconnect-server
    spec:
      containers:
        - name: interconnect-server
          image: sirineraies/interconnect-copie-server:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          env:
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: PORT
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: NODE_ENV
            - name: MONGODB_DATABASE_URI
              valueFrom:
                configMapKeyRef:
                  name: app-configmap
                  key: MONGODB_DATABASE_URI
        
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 5
            failureThreshold: 3