replicaCount: 1

image:
  repository: sirineraies/interconnect-copie-server
  tag: latest
  pullPolicy: Always

service:
  type: NodePort
  port: 5000
  nodePort: 30500

env:
  NODE_ENV: "production"
  PORT: "5000"
  MONGODB_DATABASE_URI: "mongodb://mongo:27017/interconnect"

resources:
  requests:
    memory: "256Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "500m"